body {
    background: #181818;
    font-family: 'Open Sans', sans-serif;
    overflow-y: hidden;
}

#container {
    position: relative;
    height: 100vh;
}

#calculadora {
    position: absolute;
    bottom: 10px;
    width: 100%;
    border-radius: 15px;
    padding-top: 1%;
}

.logo {
    color: #fff;
    text-align: center;
    font-size: 1rem;
}

#header {
    width: 100%;
    height: 40vh;
    padding-bottom: 20px;
}

#tela {
    width: 100%;
    height: 80%;
    border-radius: 5px;
    font-size: 3rem;
    font-weight: bold;
    color: #000;
    background-color: white;
}

#antigotela {
    background: #fff;
    padding-top: 5%;
    color: gray;
    text-align: right;
    height: 20%;
}

#botoes {
    height: 60%;
    width: 100%;
    grid: 25%;
}

#ocupacao {
    width: 49%;
}

button {
    width: 24%;
    height: 20%;
    border-radius: 5px;
    border: none;
    background: #fff;
    margin-top: 3px;
    font-size: 3rem;
    font-weight: bold;
    color: #11AD42;
}

.botaoAcao {
    color: #E05D44;
    background: #E7E7E7;
}

.igual {
    color: #fff;
    background: #E05D44;
}

@media (min-width: 768px) {
    body {
        overflow-x: hidden;
    }
    #container {
        position: relative;
        width: 100%;
        height: 100vh;
        text-align: center;
        display: grid;
        grid-template-columns: 100%;
        justify-items: center;
    }
    #calculadora {
        position: absolute;
        display: inline-block;
        width: 400px;
        height: 100vh;
    }
    #header {
        height: 20%;
    }
    button {
        height: 20%;
    }
}